* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
html {
    font-size: 15px;
}

h1{
    color: #E9EEF2;
    margin-left: 450px;
    font-family: "Rubik", sans-serif;
}
p{
    color: #E9EEF2;
    justify-content: center;
    text-align: center;

}
img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

/* -----------------navbar-area---------------------- */

.right-nav{
    margin-left: 500px;
}

.default-name{
    margin-left: 50px;
}

.fixed-navbar{
    position: fixed;
    width: 100%;
    z-index: 10;
}

.container-spacing{
    padding: 8px;
}

.navbar-move-left ul li{
    margin-right: 20px;
}

.navbar-move-left ul li a{
    font-size:1.1rem;
}

.navbar-move-left ul li a:hover{
    color: #3a89ff;
}

/* -----------------first-section-container---------------------- */

.first-section-container{
    width: 100%;
    height: 100%;
    background: rgb(239, 239, 239);
}

.text-one{
    color: rgb(160, 160, 160);
    font-size: 1.2rem;
}

.black-bold{
    font-size: 2.8rem;
    color: #000000;
}

.text-three{
    color: #000000;
    font-size: 1.8rem;
}

.buy-now-btn a{
    color: #E9EEF2;
    text-decoration: none;
    font-size: 1.2rem;
}

.first-text-head{
    margin-bottom: 30px;
}

.three-price-cards{
    justify-content: center;
    display: flex;
}

.price-card-Starter{
    width: 370px;
    height: 100%;
    background-color: #FFFFFF;
    margin-right: 70px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),  
    0 6px 20px 0 rgba(0, 0, 0, 0.039);
}

.price-card-Premium{
    width: 370px;
    height: 100%;
    background-color: #FFFFFF;
    margin-right: 70px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),  
    0 6px 20px 0 rgba(0, 0, 0, 0.039);
}

.price-card-Ultimate{
    width: 370px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),  
    0 6px 20px 0 rgba(0, 0, 0, 0.039);
}

.text-center-first-txt{
    color: #000000;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 10px;
}

.fs5-text{
    color: #5e5e5e;
    margin-top: -15px;
}

.max-width-txt{
    max-width: 350px;
    margin-left: 10px;
    color: #5e5e5e;
}

.max-width-txt1{
    max-width: 320px;
    margin-left: 20px;
    color: #5e5e5e;
}

.price-txt1{
    color: #000000;
}

.price-card-click-btn{
    border-radius: 20px;
    width: 330px;
    margin: 0px 0px 20px 20px;
}

.inline-vrline{
    width: 330px;
    margin-left: 20px;
    color: #8e8e8e;
}

.fa-solid{
    color: #3a89ff;
}

.fas-solid-x{
    color: #b3b3b3;   
}

.btn-change-btn-primary{
    color: #b3b3b3;
}

.benefit-listings{
    margin-left: 50px;
}

.fa-checklist i{
    margin: 3px 20px 30px 0px;
    display: block;
}

.personal-checklist{
    display: flex;
}

.text-sub{
    color: #000000;
}

.learn-bg-button{
    color: #3a89ff;
    cursor: pointer;
}

.learn-bg-button:hover{
    color: #000000;
}

.text-centre-below{
    color: #000000;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 50px;
}

.fw-normal-below{
    color: #000000;
}

/* -----------------second-section-container---------------------- */

.second-section-container{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

.second-section-box{
    display: flex;
    justify-content: center;
}

.text-elite-one, .text-elite-two, .text-elite-three, .text-elite-four{
    color: #000000;
}

.second-section-container-left{
    margin-top: 60px;
    margin-right: 200px;
}

.text-elite-one{
    font-size: 2rem;
    font-weight: 500;
}

.text-elite-two{
    font-size: 2rem;
    font-weight: 500;
}

.text-elite-three{
    font-size: 1.5rem;
}

.text-elite-four{
    max-width: 470px;
    font-size: 1.1rem;
}




.first-row{
    margin-left: 10px;
}

.second-row-1{
    margin-left: 56px;
}

.second-row-2{
    margin-left: 130px;
}

.second-row-3{
    margin-left: 115px;
}

.second-row-4{
    margin-left: 80px;
}

.secondary-buttons{
    margin-top: 30px;
}

.secondary-blue-btn{
    width: 140px;
    height: 45px;
    border-radius: 20px;
    margin-right: 20px;
}

.secondary-grey-btn{
    width: 140px;
    height: 45px;
    border-radius: 20px;
}





.second-section-container-right{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.image-section-container-right{
    margin-right: 250px;
}

.note-repeat-bolder, .note-repeat-italic, .note-repeat-light{
    color: #000000;
}

.note-repeat-bolder{
    font-size: 2rem;
    max-width: 500px;
}

.note-secondary-blue-btn{
    width: 200px;
    height: 45px;
    border-radius: 20px;
    margin-right: 20px;
}

.note-secondary-grey-btn{
    width: 200px;
    height: 45px;
    border-radius: 20px;
}



/* ---------------------- third-section-container ---------------------------- */

.third-section-container{
    margin-top: 100px;
}

.third-section-text p{
    color: #000000;
}

.third-section-entrytext{
    font-size: 1.2rem;
}

.third-section-row-column{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.first-column-main-part{
    margin-right: 50px;
}




.first-column-part1{
    width: 350px;
    height: 60px;
    background-color: #f6f7fa;
    border-radius: 5px;
    border: 1px solid #d3dee8;
    margin-bottom: 20px;
}

.first-column-part1:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 1s;
    background-color: #3a89ff;
}

.first-column-main-part a{
    text-decoration: none;
    margin-top: 20px;
}

.first-column-part1 p{
    color: #000000;
}

.first-column-part1 p:hover{
    color: #FFFFFF;
}

.inner-column{
    display: flex;
    margin-left: 20px;
}

i:hover{
    color: #3a89ff;
}


.first-column-part2{
    width: 350px;
    height: 60px;
    background-color: #f6f7fa;
    border-radius: 5px;
    border: 1px solid #d3dee8;
    margin-bottom: 20px;
}

.first-column-part2:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 1s;
    background-color: #3a89ff;
}

.first-column-part2 p{
    color: #000000;
}

.first-column-part2 p:hover{
    color: #FFFFFF;
}



.first-column-part3{
    width: 350px;
    height: 60px;
    background-color: #f6f7fa;
    border-radius: 5px;
    border: 1px solid #d3dee8;
    margin-bottom: 20px;
}

.first-column-part3:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 1s;
    background-color: #3a89ff;
}

.first-column-part3 p{
    color: #000000;
}

.first-column-part3 p:hover{
    color: #FFFFFF;
}



.first-column-part4{
    width: 350px;
    height: 60px;
    background-color: #f6f7fa;
    border: 1px solid #d3dee8;
    border-radius: 5px;
    margin-bottom: 20px;
}

.first-column-part4:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 1s;
    background-color: #3a89ff;
}

.first-column-part4 p{
    color: #000000;
}

.first-column-part4 p:hover{
    color: #FFFFFF;
}


.first-column-part5{
    width: 350px;
    height: 60px;
    background-color: #f6f7fa;
    border-radius: 5px;
    border: 1px solid #d3dee8;
}

.first-column-part5:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 1s;
    background-color: #3a89ff;
}

.first-column-part5 p{
    color: #000000;
}

.first-column-part5 p:hover{
    color: #FFFFFF;
}


/* ----------------------- fourth-section-container ---------------------------- */

.fourth-section-container{
    width: 100%;
    height: 100%;
    background: rgb(239, 239, 239);

}

.outerlayer-fourth-section-container{
    margin: 50px 0px 0px 0px;
}

.fourth-section-container p{
    color: #202124;
}

.maximum-width{
    max-width: 300px;
}

.main-container-fourth-images{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px 0px 0px;
}

.fourth-container-image-one img{
    margin: 0px 0px 25px 125px;
}

.fourth-section-main-text{
    font-size: 1.2rem;
    font-weight: 500;
}


/* ---------------------- accordion-main ---------------------------- */

.accordion-section{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.accordion-text{
    color: #202124;
    font-weight: 500;
    margin-top: 50px;
}

.blue-button:hover{
    color: #3a89ff;
}

.accordion-item-width{
    width: 800px;
}

.accordion-body-centered{
    margin: 0px 0px 0px 300px;
}

.accordion-body-centered button{
    font-size: 1.3rem;
    font-weight: 400;
}