* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
html {
    font-size: 15px;
}

h1{
    color: #E9EEF2;
    margin-left: 450px;
    font-family: "Rubik", sans-serif;
}
p{
    color: #E9EEF2;
    justify-content: center;
    text-align: center;

}
img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

/* -----------------navbar-area---------------------- */

.right-nav{
    margin-left: 500px;
}

.default-name{
    margin-left: 50px;
}

.fixed-navbar{
    position: fixed;
    width: 100%;
    z-index: 10;
}

.container-spacing{
    padding: 8px;
}

.container-spacing a{
    font-size: 1.3rem;
}

.navbar-move-left ul li{
    margin-right: 20px;
    font-size: 1.05rem;
}

/* -----------------first-section-container---------------------- */

.first-section-container{
    width: 100%;
    height: 100%;
    background: rgb(239, 239, 239);
}

.text-one{
    color: rgb(160, 160, 160);
    font-size: 1.2rem;
}

.black-bold{
    font-size: 2.8rem;
    color: #000000;
}

.text-three{
    color: #000000;
    font-size: 1.8rem;
}

.buy-now-btn a{
    color: #E9EEF2;
    text-decoration: none;
    font-size: 1.2rem;
}

.first-text-head{
    margin-bottom: 30px;
}

.three-price-cards{
    justify-content: center;
    display: flex;
}

.price-card-Starter{
    width: 370px;
    height: 100%;
    background-color: #FFFFFF;
    margin-right: 70px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),  
    0 6px 20px 0 rgba(0, 0, 0, 0.039);
}

.price-card-Premium{
    width: 370px;
    height: 100%;
    background-color: #FFFFFF;
    margin-right: 70px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),  
    0 6px 20px 0 rgba(0, 0, 0, 0.039);
}

.price-card-Ultimate{
    width: 370px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),  
    0 6px 20px 0 rgba(0, 0, 0, 0.039);
}

.text-center-first-txt{
    color: #000000;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 10px;
}

.fs5-text{
    color: #5e5e5e;
    margin-top: -15px;
}

.max-width-txt{
    max-width: 350px;
    margin-left: 10px;
    color: #5e5e5e;
}

.max-width-txt1{
    max-width: 320px;
    margin-left: 20px;
    color: #5e5e5e;
}

.price-txt1{
    color: #000000;
}

.price-card-click-btn{
    border-radius: 20px;
    width: 330px;
    margin: 0px 0px 20px 20px;
}

.inline-vrline{
    width: 330px;
    margin-left: 20px;
    color: #8e8e8e;
}

.fa-solid{
    color: #3a89ff;
}

.fas-solid-x{
    color: #b3b3b3;   
}

.btn-change-btn-primary{
    color: #b3b3b3;
}

.benefit-listings{
    margin-left: 50px;
}

.fa-checklist i{
    margin: 3px 20px 30px 0px;
    display: block;
}

.personal-checklist{
    display: flex;
}

.text-sub{
    color: #000000;
}

.learn-bg-button{
    color: #3a89ff;
    cursor: pointer;
}

.learn-bg-button:hover{
    color: #000000;
}

.text-centre-below{
    color: #000000;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 50px;
}

.fw-normal-below{
    color: #000000;
}

/* -----------------second-section-container---------------------- */

.second-section-container{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

.second-section-box{
    display: flex;
    justify-content: center;
}

.text-elite-one, .text-elite-two, .text-elite-three, .text-elite-four{
    color: #000000;
}

.second-section-container-left{
    margin-top: 60px;
    margin-right: 200px;
}

.text-elite-one{
    font-size: 2rem;
    font-weight: 500;
}

.text-elite-two{
    font-size: 2rem;
    font-weight: 500;
}

.text-elite-three{
    font-size: 1.5rem;
}

.text-elite-four{
    max-width: 470px;
    font-size: 1.1rem;
}




.first-row{
    margin-left: 10px;
}

.second-row-1{
    margin-left: 56px;
}

.second-row-2{
    margin-left: 130px;
}

.second-row-3{
    margin-left: 115px;
}

.second-row-4{
    margin-left: 80px;
}

.secondary-buttons{
    margin-top: 30px;
}

.secondary-blue-btn{
    width: 140px;
    height: 45px;
    border-radius: 20px;
    margin-right: 20px;
}

.secondary-grey-btn{
    width: 140px;
    height: 45px;
    border-radius: 20px;
}





.second-section-container-right{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.image-section-container-right{
    margin-right: 250px;
}

.note-repeat-bolder, .note-repeat-italic, .note-repeat-light{
    color: #000000;
}

.note-repeat-bolder{
    font-size: 2rem;
    max-width: 500px;
}

.note-secondary-blue-btn{
    width: 200px;
    height: 45px;
    border-radius: 20px;
    margin-right: 20px;
}

.note-secondary-grey-btn{
    width: 200px;
    height: 45px;
    border-radius: 20px;
}



/* ---------------------- third-section-container ---------------------------- */

.third-section-container{
    margin-top: 100px;
}

.third-section-text p{
    color: #000000;
}